graph1.descr.txt
graphics-test.exe
graph_1.descr
graph_1.descr.matrix
graph_1.descr.names
graph_1.descr.path
graph_1.descr.viz.png
graph_2.descr
graph_2.descr.matrix
graph_2.descr.names
graph_2.descr.path
graph_2.descr.viz.png
out.png
matrix.txt
my-graph-viz.exe
names.txt
null.gd.descr
null.gd.descr.matrix
null.gd.descr.names
null.gd.descr.viz.png
null.gd.descr.path
tinyviz.code-workspace
